body {
  min-height: 2000px;
  padding-top: 70px;
  /*background-image: url("../../assets/img/background.jpg");*/
  background-position: center;
  background-size: 120%;

}

.productbox {
    background-color:#ffffff;
    padding:10px;
	margin:5px 0;
    border: 1px solid #cfcfcf;
    -moz-box-shadow: 2px 2px 4px 0px #cfcfcf;
    -webkit-box-shadow: 2px 2px 4px 0px #cfcfcf;
    -o-box-shadow: 2px 2px 4px 0px #cfcfcf;
    box-shadow: 2px 2px 4px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=4);
    text-decoration: none;
  color: black;
}

.producttitle {
    font-weight:bold;
    font-size:1.2em;
	padding:5px 0 5px 0;
}

.producttext {
    
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}

@media (min-width: 992px) {
  .col-md-2 {
    width:25%;
  }
}

#addProducePlus {
  padding-top: 10px;
  font-size: 100px;
  /*padding-bottom: 30px;*/
  /*font-size: 100px;*/
  /*padding-left: 25%;*/
}

.btn-circle.btn-xl {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 94px;
}

#addProduce1 {
  height: 200px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.fancybox_modal {
  text-decoration:none;
  color:black;
}

a:hover { 
  color:black;
  cursor: pointer; 
} 

#produceform {
  display: none;
}

.modal {
  text-align: center;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
}

.modal-content {
  width: inherit;
  height: inherit;
  margin: 0 auto;
}

/*Modal Content Styling*/
.modalContentLabel {
 text-decoration: underline;
 font-weight: bold; 
}