/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.popover {
  width: 200px;
}

#regTextHeader {
  text-align: center;
  padding-bottom: 20px;
}

@media (min-width: 768px) {

  /*
   * Base structure
   */

  html,
  body {
    height: 100%;
    background-color: #333;
  }
  body {
    /*color: #fff;*/
  }
  body {
    padding-top: 100px;
    /*background-image: url("../../assets/img/sign-in-background.jpg");*/
    background-position: center;
     /*background-size: 100% 100%;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*min-height: 1000px;*/

  }

  .login_container {
    background-color: rgba(231,231,231, 0.6);
  }

  .form-signin, .login_container {
    max-width: 700px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }

  /* Extra markup and styles for table-esque vertical and horizontal centering */
  .site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
            box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  }
  .site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
  }
  .cover-container {
    margin-right: auto;
    margin-left: auto;
  }

  /* Padding for spacing */
  .inner {
    padding: 30px;
  }


  /*
   * Header
   */
  .masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .masthead-nav > li {
    display: inline-block;
  }
  .masthead-nav > li + li {
    margin-left: 20px;
  }

  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }

}


/*
 * Footer
 */

/*.mastfoot {
  color: #999;  IE8 proofing 
  color: rgba(255,255,255,.5);
}*/

@media ( max-width : 767px) and (min-width: 320px) {

  body {
    height: 100%;
    padding-top: 100px;
    background-color: #d9534f;
  }

  .login_container {
    background-color: rgba(231,231,231, 0.6);
  }

  #loginButton {
    width: 50%;
    margin: 10px;
  }

  #cancelButton {
    width: 50%;
  }

  .form-signin, .login_container {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }

  .login_container {
    min-width: 300px;
  }

  .login_container {
  background-color: rgba(231,231,231, 0.6);
  }

  .form-signin, .login_container {
    max-width: 700px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}