@media (min-width: 768px) {
	body {
	  padding-top: 70px;
	  background-image: url("../../assets/img/handshake.jpg");
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-position: center;
	}

	.container {
		text-align: center;
	}

	.imageCite {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #eee;
	padding-right: 15px;
}
}

@media ( max-width : 767px) and (min-width: 320px) {
	body {
		height: 100%;
    	padding-top: 70px;
    	background-color: #d9534f;
	}

	.container {
		text-align: center;
	}

	.imageCite {
		display: none;
	}
}
