body {
  min-height: 2000px;
  padding-top: 70px;
  /*background-image: url("../../assets/img/background.jpg");*/
  background-position: center;
  background-size: 120%;

}

#profilePic {
	height: 200px;
	width: 175px;
}

