.triangle-left {
	margin-left: 65px;
	width: 0;
	height: 0;
	overflow: visible;
	border-top: 12px solid transparent;
	border-right: 10px solid green;
	border-bottom: 12px solid transparent;
	position: absolute;
    top: 25px;
    left: 0px;
}

.triangle-right {
	margin-left: 75px;
	width: 0;
	height: 0;
	overflow: visible;
	border-top: 12px solid transparent;
	border-left: 10px solid green;
	border-bottom: 12px solid transparent;
	position: absolute;
    top: 3px;
    left:0px;
}

.producebox {
  position: absolute;
    overflow:hidden;
    width:75px;
    top: 4.5px;
    height: 22.5px;
    margin-left: 25px;
    font-size: 15pt;
    opacity: 0;
}

.portalbox{
position: absolute;
    overflow:hidden;
    width:75px;
    top: 25px;
    height:22.5px;
    margin-left: 25px;
	font-size: 15pt;
	opacity: 0;
}

.navbar-brand{
        position: relative;
        width: 150px;
        font-family: Futura;
        color: green !important;
} 